
html, body {
    background-color: #252525;
}


.footer {
        background-color: #343434;
        padding-left: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 85px;
        position: relative;
}

.footerimage {
    width: 35px;
    height: 35px;
    display: inline;
    
}

.newsimage {
    width: 360px;
    height: 240px;
    border: 1px solid black;
}